* {
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --black: #000;
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);

  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --green: hsla(143, 63%, 66%, 0.877);

  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate: hsl(168, 34%, 41%);

  --title-font: "Fraunces", serif;
  --title-weight-700: 700;
  --title-weight-900: 900;

  --body-font: "Barlow", sans-serif;
  --body-weight-600: 600;
}
/*
@media only screen and (max-width: 1440px) {
  .body-transform > div > p {
    width: 10ch;
  }

  .body-stand-out > div > p {
    width: 10ch;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 375px) {
}

@media only screen and (max-width: 320px) {
}
*/
body {
  font-family: var(--body-font);
  font-weight: var(--body-weight-600);
}

header {
  background-image: url("../assets/desktop/image-header.jpg");
  background-size: cover;

  color: var(--white);

  height: 100vh;

  .header-title {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    img {
      width: 3em;
      height: 8em;
    }

    h1 {
      font-family: var(--title-font);
      font-weight: var(--title-weight-900);

      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-size: 3rem;

      margin-block: 2.1em;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;

    padding: 2.6em 2em;

    img {
      width: 10em;
    }

    a {
      text-decoration: none;
      color: var(--white);

      padding-inline: 1em;
      font-size: 1.2rem;

      &:hover {
        border-bottom: 0.7px solid white;
      }

      &:last-of-type {
        text-transform: uppercase;
        color: var(--very-dark-desaturated-blue);
        background-color: var(--white);

        border-radius: 1.5em;
        margin-left: 1em;
        padding: 0.8rem 1.5rem;

        transition: 0.3s;

        &:hover {
          color: var(--white);
          background-color: var(--very-dark-desaturated-blue);
          border-bottom: none;
        }
      }
    }
  }
}

.body-transform {
  display: flex;
  flex-flow: row-reverse;

  align-items: center;

  img {
    //Colocar a width na media querie somente quando o dispositivo tiver 1440px, se não, a width fica dependente apenas da imagem
    width: 49.5vw;
  }

  div {
    margin-inline: auto;

    h2 {
      font-family: var(--title-font);
      font-weight: var(--title-weight-700);
      font-size: 3rem;
      width: 14ch;

      color: var(--very-dark-desaturated-blue);
    }

    p {
      padding-block: 2em;
      font-size: 1.3rem;
      width: 50ch;

      color: var(--very-dark-grayish-blue);
    }

    a {
      font-family: var(--title-font);
      font-size: 1.3rem;
      text-decoration: none;
      text-transform: uppercase;

      padding: 0.5em;
      border: 1px solid var(--very-dark-desaturated-blue);
      color: var(--black);

      transition: 0.3s;

      &:hover {
        color: var(--white);
        background-color: var(--very-dark-desaturated-blue);
      }
    }
  }
}

.body-stand-out {
  display: flex;
  flex-flow: row;

  align-items: center;

  img {
    //Colocar a width na media querie somente quando o dispositivo tiver 1440px, se não, a width fica dependente apenas da imagem
    min-width: 49.5vw;
  }

  div {
    margin-inline: auto;

    h2 {
      font-family: var(--title-font);
      font-weight: var(--title-weight-700);
      font-size: 3rem;
      width: 14ch;

      color: var(--very-dark-desaturated-blue);
    }

    p {
      padding-block: 2em;
      font-size: 1.3rem;
      width: 50ch;

      color: var(--very-dark-grayish-blue);
    }

    a {
      font-family: var(--title-font);
      font-size: 1.3rem;
      text-decoration: none;
      text-transform: uppercase;

      padding: 0.5em;
      border: 1px solid var(--very-dark-desaturated-blue);
      color: var(--black);

      transition: 0.3s;

      &:hover {
        color: var(--white);
        background-color: var(--very-dark-desaturated-blue);
      }
    }
  }
}

.section-wraper {
  display: flex;
  flex-flow: wrap row;

  .body-graphic {
    position: relative;
    text-align: center;

    img {
      width: 49.5vw;
    }

    div {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%);

      color: var(--Dark-desaturated-cyan);

      h2 {
        font-family: var(--title-font);
        margin-bottom: 1em;
      }

      p {
        font-size: 1.15rem;
      }
    }
  }

  .body-photography {
    position: relative;
    text-align: center;

    img {
      width: 49.5vw;
    }

    div {
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%);

      color: var(--Dark-desaturated-cyan);

      h2 {
        font-family: var(--title-font);
        margin-bottom: 1em;
      }

      p {
        font-size: 1.15rem;
      }
    }
  }
}

.testimonials {
  margin-bottom: 10rem;

  h2 {
    font-family: var(--title-font);
    font-weight: 900;

    color: var(--very-dark-grayish-blue);

    margin-block: 9rem 5rem;
    text-align: center;
    text-transform: uppercase;
  }

  .testimonials-container {
    display: flex;
    flex-flow: row;

    div {
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      align-items: center;

      q {
        text-align: center;
        padding: 2.5rem 4rem;
        font-size: 1.1rem;
      }

      .t-name {
        font-family: var(--title-font);
        font-size: 1.4rem;

        margin-bottom: 0.4rem;
      }

      .t-title {
        color: var(--very-dark-grayish-blue);
      }

      img {
        width: 10em;
        border-radius: 80px;
      }
    }
  }
}

.gallery {
  display: flex;
  flex-flow: row;

  img {
    width: 25%;

    box-shadow: 0s 10px 12px -12px var(--black);
  }
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;

  height: 25vh;
  padding-block: 3em;

  background-color: var(--green);
  color: var(--Dark-blue);

  > img {
    width: 10em;
  }

  div {
    padding-block: 2.5em;
  }

  .footer-nav {
    a {
      color: var(--Dark-blue);
      text-decoration: none;
      margin-inline: 1em;

      &:hover {
        border-bottom: 0.7px solid var(--Dark-desaturated-cyan);
      }
    }
  }

  .socials {
    img {
      padding-inline: 0.8em;
    }
  }
}
